



  <section class="range-slider container"  *ngFor="let thresholder of thresholders">

   
    <span class="output" [ngClass]="'outputOne-' + thresholder.mesure_id.key" #outputOne></span>
    <span class="output" [ngClass]="'outputTwo-' + thresholder.mesure_id.key" #outputTwo></span>
    <span class="output" [ngClass]="'outputThree-' + thresholder.mesure_id.key" #outputThree></span>
    <span class="output" [ngClass]="'outputFour-' + thresholder.mesure_id.key" #outputFour></span>
    <span class="full-range"></span>

    <span class="incl-01" [ngClass]="thresholder.mesure_id.key + '-01'" #incl01></span>
    <span class="incl-12" [ngClass]="thresholder.mesure_id.key + '-12'" #incl12></span>
    <span class="incl-23" [ngClass]="thresholder.mesure_id.key + '-23'" #incl23></span>
    <span class="incl-34" [ngClass]="thresholder.mesure_id.key + '-34'" #incl34></span>
    <span class="incl-45" [ngClass]="thresholder.mesure_id.key + '-45'" #incl45></span>
    


    <input type="range" [disabled]="!disabled" [min]="thresholder.min" [max]="thresholder.max" [value]="thresholder.value1" step="0.1"
      (input)="mouseUp(thresholder)" #rangeOne  >
    <input type="range" [disabled]="!disabled" [min]="thresholder.min" [max]="thresholder.max" [value]="thresholder.value2" step="0.1"
      (input)="mouseUp(thresholder)" #rangeTwo>
    <input type="range" [disabled]="!disabled" [min]="thresholder.min" [max]="thresholder.max" [value]="thresholder.value3" step="0.1"
      (input)="mouseUp(thresholder)" #rangeThree>
    <input type="range" [disabled]="!disabled" [min]="thresholder.min" [max]="thresholder.max" [value]="thresholder.value4" step="0.1"
      (input)="mouseUp(thresholder)" #rangeFour>


  </section>

  
