<div class="listing-card">
    <h4 class="listing-heading">
        <img src="assets/icons/foot-icon.svg" alt="foot icon">
        Foot - Last Reconciliation
    </h4>
    
    <app-selected></app-selected>

    <div class="cut-border-bottom"></div>

    <h4 class="listing-heading mt-2">
        <img src="assets/icons/recent-icon.svg" alt="recent icon">
        Recent Matching
    </h4>
    <div class="pe-4 ps-4">
        <div class="card border-0">
            <div class="d-flex justify-content-around card-heading">
                <span>Last</span>
                <span>Foot</span>
            </div>
            <div class="row">
                <div class="col m-2 "> <!--[ngClass]="{'white-bg': i % 2 === 0, 'grey-bg': i % 2 !== 0}"-->
                    <div class="d-flex justify-content-between align-items-center mb-3 relative-border">
                        <img src="assets/icons/last-detour-icon.svg" alt="last icon">
                        <span class="badge rounded-pill text-bg-dark" style="font-size: 0.857rem;">Nike Air 2009</span>
                        <span class="badge rounded-pill text-bg-secondary" style="font-size: 0.857rem;">Sneaker</span>
                    </div>

                    <div class="d-flex justify-content-between align-items-center mb-3 relative-border">
                        <img src="assets/icons/last-detour-icon.svg" alt="last icon">
                        <span class="badge rounded-pill text-bg-dark" style="font-size: 0.857rem;">Nike Air 2009</span>
                        <span class="badge rounded-pill text-bg-secondary" style="font-size: 0.857rem;">Sneaker</span>
                    </div>




                </div>
                <div class="col m-2">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <img src="assets/icons/foot-detour-icon.svg" alt="Foot icon">
                        <span class="badge rounded-pill text-bg-dark" style="font-size: 0.857rem;">#IF2556</span>
                        <span class="badge rounded-pill text-bg-secondary" style="font-size: 0.857rem;">Benjamin
                            Majster</span>
                    </div>

                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <img src="assets/icons/foot-detour-icon.svg" alt="Foot icon">
                        <span class="badge rounded-pill text-bg-dark" style="font-size: 0.857rem;">#IF2556</span>
                        <span class="badge rounded-pill text-bg-secondary" style="font-size: 0.857rem;">Benjamin
                            Majster</span>
                    </div>

                </div>

            </div>
        </div>
    </div>

</div>